* {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  html {
    font-size: 18px;
    font-family: sans-serif;
  }
  #body{
    color: white;
    background-color: #1f1f38;
    height: 100%;
  }
  
  /* header */
  .navigation {
    display: flex;
    justify-content: space-between;
    background-color: #1b2760;
    padding: 10px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .navigation h1 {
    font-size: 35px;
    color: #ff703b;
    padding-left: 50px;
  }
  #navmenu{
    width: 100%;
    justify-content: flex-end;
  }
  .navigation ul {
    display: inline-flex;
    width: 40%;
    margin: 0;
  }
  
  .navigation li a {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
  }
  
  .navigation li a:hover {
    background-color: #f6642e;
    border-radius: 5px;
  }
  
  .navigation li a:active {
    color: black;
  }
  
  
  
  
  
  #navmenu-1{
    display: none;
  }
  
  #navmenu-1 .navbar-brand{
    color: #f6642e;
    font-size: 32px;
    font-weight: 500;
  }
  #navmenu-1 .navbar{
    background-color: #1b2760;
    }
  #navmenu-1 .offcanvas{
    background-color: #1b2760;
  }
  #navmenu-1 .offcanvas-body{
    line-height: 60px;
    }
    #navmenu-1 .offcanvas-header{
      border-bottom: 1px solid #393d64;
    }
    #navmenu-1 .fa-house-user{
      font-size: 30px;
      color:aliceblue;
    }
    #navmenu-1 .offcanvas-title{
    color: #f6642e;
  }
  #navmenu-1 #offcanvasDarkNavbar{
    width: 30%;
  }
  #navmenu-1 .navbar-nav li a{
    display: inline;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 22px;
  } 
  #navmenu-1 ul{
    padding: 0;
  }
  #navmenu-1 .navbar-nav li a:hover{
    background-color: #f6642e;
  }
  
  /* header close */
  
  /* home */
  
  #button {
    padding: 5px 10px;
    background-color: #4db5ff;
    font-size: 20px;
    border-radius: 10px;
  }
  
  #home h1,
  .btn {
    margin: 10px 0;
  }
  
  #home p {
    margin-bottom: 10px;
  }
  
  #home .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 180px;
  }
  
  #home .name {
    color: #f6642e;
    font-size: 40px;
  }
  
  .container .img img {
    height: 250px;
    width: 250px;
    border-radius: 20% 20% 50% 50%;
    position: relative;
    top: 17%;
    left: 8%;
    z-index: 1;
  }
  
  .img-circle {
    background-color: #2c2c6c;
    height: 300px;
    width: 300px;
    border-radius: 20% 20% 50% 50%;
  }
  #button {
    padding: 5px 10px;
    background-color: #4db5ff;
    font-size: 20px;
    border-radius: 10px;
  }
  .btn a {
    color:black;
  }
  .btn a:hover{
    color: white;
  }
  
  /* home close */
  .heading-data{
    text-align: center;
    color: white;
  }
  .heading-data h6{
    margin: 0;
  }
  .heading-data h4{
    color: #4db5ff;
    margin: 0;
  }
  
  /* skills  */
  .fa-certificate{
    color: #4db5ff;
    margin-right: 10px;
  }
  .front-data{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
  }
  .frontend{
    background-color:#2c2c6c;
    width: 35%;
    height: 320px;
    border-radius: 20px;
    margin: 20px;
  }
  .frontend p{
    font-size: 14px;
    margin-left: 30px;
  }
  .frontend h4{
    text-align: center;
    color: #4db5ff;
    margin: 30px;
  }
  .skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #skill{
    padding-top: 100px;
  }
  /* skills  */
  
  /* Services */
  .services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .service-data{
    width: 23%;
    height: 100%;
    background-color: #2c2c6c;
    border-radius:0 0 20px 20px;
    margin: 20px;
    box-shadow: 1px 1px 1px #4db5ff, -1px -1px 1px #4db5ff;
  }
  .service-data .x{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .service-data .fa-check{
    margin: 7px 10px 7px 20px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
  }
  .serv-details{
    margin: 20px 0;
  }
  .serv-details p{
    font-size: 16px;
    width: 85%; 
  }
  .serv{
    height: 70px;
    background-color: #4db5ff;
    border-radius:0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  #service{
  padding-top: 100px;
  }
  /* Services close */
  
  /* Education */
  .education{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .education-data {
    box-sizing: border-box;
    border-left: 2px solid white;
    width: 25%;
    margin: 40px;
    margin-left: 300px;
    position: relative;
    padding: 0 40px;
  }
  
  .education-data h4 {
    color:#4db5ff;
    padding-top: 10px;
  }
  .font {
    background-color: #4db5ff;
    font-size: 25px;
    padding: 14px 11px;
    border-radius: 50%;
    position: absolute;
    left: -27px;
    top: -15px;
  }
  
  .education-data span {
    background-color: #7a94cdad;
    padding: 5px 25px;
    border-radius: 20px;
  }
  .buttons{
    padding: 5px 20px;
    background-color: #4db5ff;
    color: black;
    border-radius: 6px;
  }
  #edu{
    padding-top: 100px;
  }
  /* Education close */
  
  /* project */
  #project{
    padding-top: 100px;
  }
  .card{
    background-color: #2c2c6c;
    box-shadow: 1px 1px 1px #066bb3, -1px -1px 1px #066bb3;
    width: 400px;
    margin: 10px;
  }
  #project h5,p{
    color: #fff;
  }
  #project h5{
    text-align: center;
    padding: 7px 0;
    font-weight: 400;
    color:aliceblue;
  }
  .prj{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  /* project close */
  
    /* contact */
    .cont-container{
      background-color: #2c2c6c;
      height: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 2vh;
      border-radius: 15px;
      margin: 15px;
    }
    .cont-container span{
      color:#4286f0;
    }
    .cont-container p a{
      text-decoration: none;
      color: #fff;
    }
    .y{
      font-size: 28px;
      margin-bottom: 10px;
    }
    .main-contact input{
        padding: 10px 20px;
      margin-top: 20px;
      border-radius: 6px;
      color: white;
      background-color:#1f1f38;
      border: 1px solid #7676b8;
    }
    .main-contact textarea{
      padding: 10px 20px;
      margin: 20px 0;
      border-radius: 6px;
      color: white;
      background-color:#1f1f38;
      border: 1px solid #7676b8;
    }
    .main-contact{
      display: flex;
      width: 100%;
      justify-content: center;
      padding-bottom: 50px;
    }
    .contact-details{
      display: flex;
      flex-direction: column;
      width: 30%;
      margin-left: 50px;
    }
    .contact-data{
      width: 20%;
    }
    #contact{
      padding-top: 100px;
    }
    /* contact close */
  
  
  /* Footer */
  .footer{
    background-color: #4db5ff;
    height: 100%;
    line-height: 7vh;
  }
  .footer ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    }
  .footer ul a{
  text-decoration: none;
  padding: 10px 20px 0 20px;
  color: #1f1f38;
  }
  .footer h3{
    text-align: center;
    color:#2c2c6c;
    padding-top: 20px;
  }
  .foot-links{
    text-align: center;
  }
  .foot-links a{
    text-decoration: none;
    color: #1f1f38;
    font-size: 25px;
    margin: 0 5px;
  }
  /* Footer close */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* media query */
  
  
  
  @media (min-width:1030px)and (max-width:1400px) {
  *{
    font-size: 20px;
  }
  .frontend{
    width: 40%;
    margin: 10px;
  }
  .service-data{
    width: 35%;
    height: 100%;
  }
  .education-data{
    margin-left: 15px;
    width: 40%;
  }
  .education{
    margin-left: 140px;
  }
  .contact-data{
    width: 28%;
  }
  .contact-details{
    width: 47%;
  }
  }
  
  
  @media (min-width:700px)and (max-width:1030px) {
    *{
      font-size: 20px;
    }
  #head{
    display: none;
  }
  #navmenu-1{
    display: inline;
  }
  #home .container{
    padding-top: 150px;
  }
  #home .container{
    flex-direction: column-reverse;
  }
  .frontend{
    width: 60%;
    margin: 10px;
  }
  .service-data{
    width: 42%;
    margin: 10px;
    height: 100%;
  }
  .education-data{
    margin-left: 0px;
    width: 43%;
    padding-right: 0;
  }
  .education{
    margin-left: 80px;
  }
  .cont-container{
    margin-left: 0;
  }
  .contact-data{
    width: 45%;
  }
  .contact-details{
    width: 45%;
    margin-left: 5px;
  }
  
  }
  
  @media (min-width:430px)and (max-width:700px) {
  *{
    font-size: 20px;
  }
  #navmenu-1{
    display: inline;
  }
  #navmenu-1 #offcanvasDarkNavbar{
    width: 45%;
  }
  #head{
    display: none;
  }
  .container .img img {
    height: 200px;
    width: 200px;
    top: 20%;
    left: 10%;
  }
  .img-circle {
    height: 250px;
    width: 250px;
  }
    #home .container{
      flex-direction: column-reverse;
      padding: 120px 20px 30px 20px;
    }
    .frontend{
      width: 75%;
      margin: 10px;
    }
    .service-data{
      width: 75%;
      margin: 10px;
      height: 100%;
    }
    .education-data{
      margin-left: 0px;
      width: 90%;
    }
    .education{
      margin-left: 100px;
    }
    .contact-data{
      width: 70%;
    }
    .contact-details{
      width: 85%;
      margin-left: 0;
    }
    .main-contact{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer ul {
      flex-direction: column;
      align-items: center;
    }
  
  }
  
  @media (min-width:0px)and (max-width:430px) {
    *{
      font-size: 20px;
    }
    #head{
      display: none;
    }
    #navmenu-1 #offcanvasDarkNavbar{
      width: 60%;
    }
    .offcanvas-title{
      text-align: center;
    }
    #navmenu-1{
      display: inline;
    }
    .container .img img {
      height: 180px;
      width: 180px;
      top: 18%;
      left: 9.8%;
    }
    .img-circle {
      height: 220px;
      width: 220px;
    }
      #home .container{
        flex-direction: column-reverse;
        padding: 120px 10px 30px ;
      }
      .frontend{
        width: 80%;
        height: 100%;
        margin: 10px;
      }
  
      .front-data{
        flex-direction:column;
        align-items:center;
      }
  .service-data{
    width: 90%;
    margin: 10px;
    height: 100%;
  }
  .education-data{
    margin-left: 0px;
    width: 100%;
    margin-right: 0;
  }
  .education{
    margin-left: 60px;
  }
  .contact-data{
    width: 100%;
  }
  .contact-details{
    width: 90%;
    margin-left: 0;
  }
  .main-contact{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer ul {
    flex-direction: column;
    align-items: center;
  }
  
    }